.w-30 {
    width: 30%;
}
.w-35 {
    width: 35%;
}
.w-40 {
    width: 40%;
}
.w-45 {
    width: 45%;
}
.w-55 {
    width: 55%;
}
.w-60 {
    width: 60%;
}
.w-65 {
    width: 65%;
}
.w-85 {
    width: 85%;
}
.mt-black {
    color: black;
    font-size: 3.5em;
    line-height: 1.4em
}
.mt-green {
    color: $green-text;
}
.light-grey-text {
    color: $light-grey-text;
}
.grey-text {
    color: $grey-text;
}
.jumbo-line {
    height: 5px;
    width: 4em;
    border-radius: 5px;
    margin: 3em 0;
    background-image: linear-gradient(to right, #96E15F , #0CDAA2);
}
.rotate {
    transform: rotate(-90deg);
    right: -60px;
    top: 50%;
    font-weight: bold;
}