$green-text: #00D9A6;
$light-grey-text: #AAAAAA;
$grey-text: #555555;
$green-gradient: linear-gradient(to right, #96E15F , #0CDAA2);
$black-gradient: linear-gradient(to right, #0E0E0EB3 , black);
$background-grey: #FAFAFA;